
//	Baseline stuff
$baseline-unit:    34;
$baseline-unit-px: #{$baseline-unit}px;

//	Media Query Breakpoints
$break-narrow:  320;
$break-medium:  560;
$break-regular: 780;
$break-wide:    1000;

//	Color Palette
$color-blue:     #3C8FC7;
$color-blue-d:   darken($color-blue, 10);

$color-green:    #29c76c;
$color-green-d:  darken($color-green, 10);

$color-grey:     #4c4d51;
$color-grey-m:   #444;
$color-grey-l:   #ecf0f1;

$color-orange:   #eea13e;
$color-orange-d: darken($color-orange, 10);

$color-purple:   #8e44ad;
$color-purple-d: darken($color-purple, 10);

$color-red:      #ed6751;
$color-red-d:    darken($color-red, 10);

//	Colors
$color-text:    $color-grey-m;
$color-bg:      $color-grey-l;
$color-borders: $color-grey-m;

$color-highlight: $color-blue;

$color-error:     $color-red;
$color-success:   $color-green;
$color-warning:   $color-orange;

$color-links:         $color-blue;
$color-links-active:  $color-blue-d;
$color-links-visited: $color-purple;

//	Font Weights
$font-weight-light: 100;
$font-weight:       400;
$font-weight-bold:  700;

$font-weight-h1: $font-weight;
$font-weight-h2: $font-weight;
$font-weight-h3: $font-weight;
$font-weight-h4: $font-weight;

//	Font Families
$font-family-primary:   "brandon-grotesque-1", "brandon-grotesque-2", sans-serif;
$font-family-monospace: Consolas, monaco, monospace;

//	Font Sizes
$font-size:       22px;
$font-size-small: 13px;
$font-size-large: 20px;

$font-size-h1: 52px;
$font-size-h2: 36px;
$font-size-h3: 28px;
$font-size-h4: 24px;

//	Line Heights
$line-height:    $baseline-unit-px;
$line-height-h1: 1.25;
$line-height-h2: 1.25;
$line-height-h3: 1.25;
$line-height-h4: 1.25;
