
.social-list {
	margin:     0 0 1em;
	padding:    0;
	text-align: center
}

	.social-item {
		display:     inline-block;
		line-height: 30px;
		list-style:  none;
		margin:      0 5px;
		text-align:  left;
	}

		.social-link {
			background:      url('/assets/images/icons/social-links.svg');
			background-size: auto 30px;
			display:         block;
			height:          30px;
			text-indent:     -10000px;
			width:           30px;

			&.social-link-twitter    { background-position: -150px center; }
			&.social-link-tumblr     { background-position: -120px center; }
			&.social-link-github     { background-position: -30px  center; }
			&.social-link-instagram  { background-position: -60px  center; }
			&.social-link-dribbble   { background-position: 0px    center; }
			&.social-link-soundcloud { background-position: -90px  center; }

			&:hover {
				color: $color-links
			}

			&:visited {
				color: $color-grey-m;

				&:hover {
					color: $color-links;
				}
			}
		}