
//  Alignment and that

.text-left    { text-align: left;    }
.text-center  { text-align: center;  }
.text-right   { text-align: right;   }
.text-justify { text-align: justify; }

.text-success { color: $color-green;  }
.text-warning { color: $color-orange; }
.text-danger  { color: $color-red;    }

//  Utility things

.hidden {
	display:    none !important;
	visibility: hidden;
}

.visually-hidden {
	border:   0;
	clip:     rect(0 0 0 0);
	height:   1px;
	margin:   -1px;
	overflow: hidden;
	padding:  0;
	position: absolute;
	width:    1px;
}

.invisible {
	visibility: hidden;
}
