
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@font-face {
	font-family: 'Slukoni';
	src: url('/public/fonts/Slukoni.eot'); /* IE9 Compat Modes */
	src: url('/public/fonts/Slukoni.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/public/fonts/Slukoni.woff') format('woff'), /* Modern Browsers */
		 url('/public/fonts/Slukoni.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('/public/fonts/Slukoni.svg#dfdf139dd153fdc8e8b575689391d462') format('svg'); /* Legacy iOS */
	font-style:  normal;
	font-weight: 400;
}
